NEXT_PUBLIC_WS_URL="wss://dream-rpc.somnia.network/ws"
NEXT_PUBLIC_RPC_URL="https://dream-rpc.somnia.network"
NEXT_PUBLIC_PUBLISHER_ADDRESS=<Your_Somnia_Publisher_Address>
PRIVATE_KEY=0x<Private_Key_Of_Your_Publisher_Address>